*{
    margin: 0;
    padding: 0;
}

#body{
    background: url(../js/resources/backgrounds/space-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    position: relative;
    height: 600px;
    width: 1000px;
    margin-top: 5px;
    margin-left: 170px;
}

#canvas{
    background: url(../js/resources/backgrounds/background-blue.png);
    
    border: 2px solid #555555;
    height: 600px;
    width: 1000px;
    animation: scroll-background 6s linear infinite;
    box-shadow: 0 2px rgba(0, 0, 0, 0);
    position: absolute;
    z-index: -2;  
}

@keyframes scroll-background{
    from{
        background-position-y: 0px;
    }
    to{
        background-position-y: 256px;
    }

}

#menu{
    position: absolute;
    height: 604px;
    width: 1004px;
}

#pause{
    position: absolute;
}