*{
    margin: 0;
    padding: 0;
}

#body{
    background: url(../js/resources/backgrounds/space-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    position: relative;
    height: 600px;
    width: 1000px;
    margin-top: 5px;
    margin-left: 170px;
}

.titles{
    font-family: 'Press Start 2P', cursive;
    color: #4CAF50;
}

#canvas{
    background: url(../js/resources/backgrounds/space-2.jpg);
    border: 2px solid #555555;
    height: 600px;
    width: 1000px;
    animation: movement 6s infinite linear normal;
    box-shadow: 0 2px rgba(0, 0, 0, 0);
    position: absolute;
    z-index: -2;
    height: 600px;
    width: 1000px;
    margin-top: 5px;
    margin-left: 170px;
}

@keyframes movement{
    from{
        background-position-y: 0px;
    }
    to{
        background-position-y: 1024px;
    }

}

.divs1{
    position: absolute;
    background: url(../js/resources/backgrounds/space-2.jpg);
    
    margin: auto;
    text-align: center;
    height: 604px;
    width: 1004px;
    background-color: gray;
    margin-top: 5px;
    animation: movement 6s infinite linear normal;
    font-family: 'Press Start 2P', cursive;
    
}

.buttons {
    font-family: 'Press Start 2P', cursive;
    cursor:pointer;
    margin-bottom: 65px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    color: white;
    
}

.buttons {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: rgba(0, 0, 0, .1); 
    color: #4CAF50;
    border: 2px solid #4CAF50;
    
}

#Logo{
    margin-top: 215px;
    margin-left: 421px;
    float: left;
    height: 40px;
    width: 157px;
    color: #4CAF50;
    
}

#Logo2{
    margin-top: 0px;
    margin-left: 375px;
    float: left;
    height: 40px;
    width: 253px;
    color: #4CAF50;
}

#play{
    margin-top: 100px;
    margin-left: -185px;
    float: left;
}

#controls{
    margin-top: 158px;
    margin-left: -209px;
    float: left;
}

#references{
    margin-top: 216px;
    margin-left: -219px;
    float: left;
}

#title1{
    margin-top: 5px;
}

#keys{
    float:left;
    margin-left: 238px;
    margin-top: 5px;
    width: 500px;
    height: 220px;
}

#mouse{
    float: left;
    margin-top: 5px;
    margin-left: 309px;
}

#back1{
    float: left;
    margin-top: 273px;
    margin-left: -252px;
}

#title2{
    margin-top: 5px;
}

#textinstru{
    background-color: grey;
    position:absolute;
    margin: auto;
    width: 200px;
    height: 200px;
    
}

#back2{
    float: left;
}

#title2{
    margin-top: 255px;
    margin-bottom: 10px;
    float: none;
}

.divs2{
    position: absolute;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-top: 188px;
    margin-left: 295px;
}

#center1{
    margin-top: 65px;
    margin-bottom: 16px;
}

#center2{
    margin-top: 65px;
    margin-bottom: 16px;
}
